body {
	background: #3399ff;
	font-family: 'Oswald', 'Futura', sans-serif;
}

#wrapper {
	margin-top: 10% !important;
}

#content {
	background: #ffff99;
	padding: 25px;
}

#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}

.t10 {
	margin-top: 10px;
}

.t20 {
	margin-top: 20px;
}

.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}

footer {
	margin-top: 20px;
	color: white;
}

#add-btn {
	background-color: #ffff99;
	border-color: #ffff99;
}

.invisible-text {
    color: #ffff99;  /* This ensures the text is the same color as the background */
}

/* Textarea styling */
textarea {
    width: 100%; /* Make sure it fills the available width */
    min-height: 100px; /* Start with a reasonable height */
    resize: vertical; /* Allow the user to resize vertically */
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ffff99;
    background-color: #ffff99;
    color: #ffff99; /* Text color same as the background */
}

/* Optional: Remove outline when focused */
textarea:focus {
    outline: none;
}
